@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4kb7ok');
  src:  url('fonts/icomoon.eot?4kb7ok#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4kb7ok') format('truetype'),
    url('fonts/icomoon.woff?4kb7ok') format('woff'),
    url('fonts/icomoon.svg?4kb7ok#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
  content: "\e920";
}
.icon-more:before {
  content: "\e900";
  color: #666;
}
.icon-byz:before {
  content: "\e901";
}
.icon-cnz:before {
  content: "\e902";
}
.icon-jnz:before {
  content: "\e903";
}
.icon-jxz:before {
  content: "\e904";
}
.icon-mjz:before {
  content: "\e905";
}
.icon-ssz:before {
  content: "\e906";
}
.icon-szz:before {
  content: "\e907";
}
.icon-syz:before {
  content: "\e908";
}
.icon-9:before {
  content: "\e909";
}
.icon-spz:before {
  content: "\e90a";
}
.icon-tcz:before {
  content: "\e90b";
}
.icon-txz:before {
  content: "\e90f";
}
.icon-down:before {
  content: "\e90c";
}
.icon-interview:before {
  content: "\e90d";
}
.icon-share:before {
  content: "\e90e";
}
.icon-ability:before {
  content: "\e91e";
}
.icon-learn:before {
  content: "\e910";
}
.icon-case:before {
  content: "\e911";
}
.icon-famous:before {
  content: "\e912";
}
.icon-overview:before {
  content: "\e913";
}
.icon-design:before {
  content: "\e914";
}
.icon-planning:before {
  content: "\e915";
}
.icon-world:before {
  content: "\e916";
}
.icon-right:before {
  content: "\e917";
}
.icon-heart:before {
  content: "\e918";
}
.icon-talk:before {
  content: "\e919";
}
.icon-listPoint:before {
  content: "\e91a";
}
.icon-game:before {
  content: "\e91b";
}
.icon-photo:before {
  content: "\e91c";
}
.icon-question:before {
  content: "\e91d";
}
.icon-contentLength:before {
  content: "\e91f";
}
.icon-task:before {
  content: "\e925";
}
.icon-projectManage:before {
  content: "\e936";
}
.icon-new:before {
  content: "\e949";
}
.icon-time:before {
  content: "\e94e";
}
.icon-develope:before {
  content: "\e955";
}
.icon-authorResponse:before {
  content: "\e96c";
}
.icon-response2:before {
  content: "\e96e";
}
.icon-authorResponse2:before {
  content: "\e96f";
}
.icon-humanSource:before {
  content: "\e972";
}
.icon-filter:before {
  content: "\e979";
}
.icon-refresh:before {
  content: "\e97b";
}
.icon-market:before {
  content: "\e9ae";
}
.icon-favorite:before {
  content: "\e9d9";
}
.icon-like:before {
  content: "\e9da";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-response:before {
  content: "\1f33c";
}
.icon-images:before {
  content: "\e921";
}
.icon-film:before {
  content: "\e923";
}
.icon-article:before {
  content: "\e922";
}
.icon-video:before {
  content: "\e95b";
}
